Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.9
appdirs==1.4.4
astroid==2.5.6
atomicwrites==1.4.0
attrs==21.4.0
black==21.5b2
certifi==2020.11.8
chardet==4.0.0
click==8.0.1
colorama==0.4.4
colorclass==2.2.0
coverage==6.3.2
cryptowatch-sdk==0.0.14
distlib==0.3.1
filelock==3.0.12
Flask==2.1.1
Flask-Reuploaded==1.2.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
idna==2.10
-e git+https://github.com/reidtc82/img_search.git@e6da5085d581a34ea8d8eebcd1c8dc39b45ce399#egg=img_search
importlib-metadata==4.11.3
iniconfig==1.1.1
isort==5.8.0
itsdangerous==2.1.2
Jinja2==3.1.1
kafka==1.3.5
lazy-object-proxy==1.6.0
MarkupSafe==2.1.1
marshmallow==3.14.0
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.19.4
packaging==21.3
pandas==1.1.4
pathspec==0.8.1
pipenv==2020.11.15
pluggy==1.0.0
protobuf==3.19.1
psycopg2==2.9.3
py==1.11.0
pylint==2.8.3
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==6.0
regex==2021.4.4
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.35
terminaltables==3.1.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.3
virtualenv==20.2.0
virtualenv-clone==0.5.4
websocket-client==1.2.1
Werkzeug==2.1.1
wrapt==1.12.1
WTForms==3.0.1
zipp==3.8.0
